
data/

\.DS_Store

literature/

\.idea/

src/__pycache__/

src/python/__pycache__/

draft/

src/ckpt/

src/python/net/__pycache__/

src/disparity/

.project

.pydevproject

src/out/

*.pyc

results/
